#video-container.paused #video-controls-container 
{
    opacity: 1;
    pointer-events: auto;
}

#video-controls-container #controls button
{
    background: none;
    border: none;
    color: inherit;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
}

/*toggle play pause icon*/

